<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>
    <div class="container">
      <a href="{{ .Site.BaseURL }}">
        <figure class="image is-240x37">
          {{ $logo := resources.Get "images/logo.png" }}
          <img src="{{ $logo.Permalink }}" alt="Ward 5 For All logo showing three icon houses: orange, blue, and green" />
        </figure>
      </a>
    </div>
    {{ block "main" . }}
    {{ end }}
  </body>
</html>