{{ define "main" }}
<section class="section">
  <main class="container mb-6">
    <h1 class="title is-size-2 has-text-weight-bold">{{ .Title }}</h1>
    <h3 class="subtitle">
      {{ partial "article_tags.html" .}}
    </h3>

    <article class="content is-family-secondary column is-two-thirds">
      {{ .Content }}
    </article>
  </main>

  <div class="container content">
    <ul>
      {{ with .PrevInSection }}
      <li>Previous Post: <a class="previous" href="{{ .Permalink }}">{{.Title}}</a></li>
      {{ end }}
      {{ with .NextInSection }}
      <li>Next Post: <a class="next" href="{{ .Permalink }}">{{.Title}}</a></li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}